// Toastr
$toastr-success-bg: #f6ffed;
$toastr-success-border: #b7eb8f;
$toastr-success-icon: "../images/icons/toastr/success-icon.svg";

$toastr-info-bg: #e6f7ff;
$toastr-info-border: #91d5ff;
$toastr-info-icon: "../images/icons/toastr/info-icon.svg";

$toastr-warning-bg: #fffbe6;
$toastr-warning-border: #ffe58f;
$toastr-warning-icon: "../images/icons/toastr/warning-icon.svg";

$toastr-error-bg: #fff1f0;
$toastr-error-border: #ffccc7;
$toastr-error-icon: "../images/icons/toastr/error-icon.svg";

// Colors
$accent-blue-100: #1f54c5;
$accent-blue-200: #214b9e;
$neutral-100: #f4f6fa;
$neutral-700: #696f8c;
$neutral-800: #474d66;
